footer{
    text-align: center;

}
header{
    text-align: center;
}

.border{
    margin: auto;
    border: 5px black solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 382px;
}

.palya{
    background-image: url(kepek/dark\ fantasy\ du\ 0.png);
    background-size: cover;
    object-fit: cover;
    width: 75px;
    height: 75px;
    margin: auto;
    border: 1px blue solid;
    text-align: center;
}
.hero{
    
}